* {
 box-sizing: border-box;
}
.header {
  display: inline-block; 
  font-size: 0;
}
.bar-start {

  padding: 15px;
  border: 5px solid black;
  display: inline;
  font-size: 16px;
  vertical-align: auto;
}
.bar-text {
  width: calc(100%-250px);
  border: 5px solid black;
  padding: 15px 205px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
  .nav a{

    margin: 25px;
  }
  .a href {
    color: black;
    cursor: pointer;
    text-decoration: underline;
  
  }

.bar-end{
 
  padding: 15px;
  border: 5px solid black;
  display: inline-block;
  font-size: 16px;
}
.form-blok, .form-section {
  display: inline-block;
  font-size: 30px;
  height: 100%;
  vertical-align: top;

}


.form-section {
  font-size: medium;
  width: 400px;
   padding: 45px;
  background-color: red;
  display: inline-block;
 
}

.form--section-blok {
  width: 180px;
 background-color: #3300ff;
 padding: 200px;
 display: inline-block;
}
